# =========================
# SQL Server
# =========================

SA_PASSWORD=YourStrongPassword123!

# =========================
# ASP.NET
# =========================

ASPNETCORE_ENVIRONMENT=Production

# =========================
# RabbitMQ
# =========================

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# =========================
# GHCR
# =========================

GHCR_USERNAME=YOUR_USERNAME

GHCR_TOKEN=YOUR_TOKEN

##################################
# Images
##################################

BACKEND_VERSION=v1.0.0
FRONTEND_VERSION=v1.0.0

BACKEND_IMAGE=ghcr.io/khalid-786/msar-api:${BACKEND_VERSION}
FRONTEND_IMAGE=ghcr.io/khalid-786/msar-frontend:${FRONTEND_VERSION}